
<app-nav-bar></app-nav-bar>
<br>
<br>
<br>
<br>


<div class="page-heading about-heading header-text" style="background-image: url(../../../assets/images/craft2.jpg); padding: 370px 0px 130px 0px;">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- <div class="text-content">
          <h4>حـــــــــــــرفة</h4>

        </div> -->
      </div>
    </div>
  </div>
</div>


<div class="best-features about-features">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section-heading">
        <h2></h2>
      </div>
    </div>
    <div class="col-md-6">
      <div class="right-image">
        <img src="../../../assets/images/about-1-570x350.jpg" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="left-content">
        <h4 style="float: right; direction: rtl; font-size: 35px; font-family: 'Times New Roman', Times, serif;"><b>حرفة</b></h4>
        <p style="font-family: 'Times New Roman', Times, serif;"> مهنة تتطلب نوعًا خاصًا من العمالة الماهرة. في النطاق التاريخي، وخاصة فيما يتعلق بفترة العصور الوسطى وما قبلها، عادة ما كان ينطبق هذا المصطلح على الأشخاص الذين يعملون في إنتاج البضائع على نطاق ضيق. وفي هذه الأيام، استبدلت المصطلحات التقليدية الرجل الحرفي والمرأة الحرفية في كثير من الأحيان بمصطلح الحرفي ونادرًا ما تستبدل بمصطلح الشخص الحرفي (الأشخاص الحرفيين)</p>

      </div>

    </div>
  </div>
</div>
</div>


<div class="team-members">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="left-content">

      <h5 style="float: right; direction: rtl; color:#1a6692;; font-size: 35px; font-family: 'Times New Roman', Times, serif;"><b>أنواع الحرف</b> </h5>
      <br>
      <br>
      <p style="font-size: 20px; font-family: 'Times New Roman', Times, serif;">الحرف اليدوية هي القطاع الرئيسي التقليدي للحرف، وهو نوع من العمل حيث تُصنع الأجهزة المفيدة والمزخرفة حتى النهاية بواسطة اليد أو باستخدام أدوات بسيطة فقط. وعادة ما يطبق هذا المصطلح على الوسائل التقليدية لصناعة السلع.</p>

      <p style="font-size: 20px; font-family: 'Times New Roman', Times, serif; ">كثيرًا ما يستخدم مصطلح الحرف لوصف مجموعة من الممارسات الفنية ضمن مجموعة الفنون الزخرفية والتي يتم تحديدها حسب علاقتها بالوظيفة أو المنتجات المفيدة (مثل أشكال النحت في تقليد الوعاء) أو عن طريق استخدام الوسائط الطبيعية كـالخشب والصلصال وخزف والزجاج والمنسوجات والمعادن<br><br> مارس بواسطة فنانين مستقلين يعملون بمفردهم أو في مجموعات صغيرة غالبًا ما يشار إليها على أنها حرفة الاستوديو. تشمل حرفة الاستوديو استوديو الفخار والأعمال المعدنية والنسج وخراطة الخشب والورق وأشكال أخرى من المشغولات الخشبية ونفخ الزجاج وفن الزجاج.</p>
    </div>
    </div>
  </div>

</div>
</div>
